= simple_form_for(@tax_rate) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :code
    = f.input :description
    = f.input :rate

  .form-actions
    = f.button :submit
