= simple_form_for @product, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = error_span(@product[:name])
  = f.input :skuid
  = error_span(@product[:skuid])
  = f.input :brand
  = error_span(@product[:brand])
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), products_path, :class => 'btn btn-default'
