= simple_form_for(@supplier) do |f|
  = f.error_notification

  .form-inputs
    = f.input :company
    = f.input :code
    = f.input :status
    = f.input :description

  .form-actions
    = f.button :submit
